* {
    padding: 0;
    margin: 0;
    text-decoration: none;
}

body {
    display: grid;
    grid-template-columns: 1fr 20vw 60vw 1fr;
    gap: 80px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #212121;
}

header {
    font-weight: lighter;
    font-size: 30pt;
    color: #C0C0C0;
    margin-bottom: 20px;
}

input {
    display: none;
}

.devices-section {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

.devices-container {
    display: flex;
    flex-direction: column;
    background-color: #383838;
    border-radius: 5px;
}

.device-label {
    color: #a8a8a8;
    font-weight: bold;
    font-size: 18pt;
    padding: 15px 30px;
    cursor: pointer;
    border-bottom: solid 3px #212121;
}

.device-label.active{
    background-color: #53A4F1;
    color: #fff;
    border-radius: 5px;
}

.device-label:hover {
    background-color: #53A4F1;
    color: #fff;
    border-radius: 0px;
    transition: .2s;
}

.drivers-section {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
}

.drivers-container {
    border: solid 2px #535353;
    border-radius: 5px;
    display: none;
    flex-direction: column;
}

.drivers-container.active {
    display: flex;
    animation: .5s slideAndFade forwards;
}

.driver-card {
    align-items: center;
    display: grid;
    grid-template-columns: 2fr 4fr .7fr;
    padding: 10px 20px;
    border-bottom: solid 2px #535353;
}

.center-info span{
    display: block;
}

.driver-card.active .alteration-date {
    color: #9E9E9E;
    transition: .2s;
}

.alteration-date {
    color: #414141;
}

.driver-card.active .driver-name {
    color: #57AEFF;
    transition: .2s;
}

.driver-name {
    color: #535353;
    font-size: 17pt;
}

.driver-card.active .driver-type {
    color: #fff;
    transition: .2s;
}

.driver-type {
    grid-column: 1/2;
    color: #666;
    font-weight: bold;
    font-size: 18pt;
}

.center-info {
    grid-column: 2/3;
}

.driver-card.active .download-link{
    color: #fff;
    background-color: #2ED653;
    transition: .2s;
}

.download-link {
    grid-column: 3/4;
    color: #858585;
    background-color: #3C3C3C;
    font-weight: bold;
    padding: 3px 10px;
    text-align: center;
    border-radius: 5px;
}

.search {
    border: none;
    background: none;
    color: #fff;
    font-size: 25pt;
    font-family: Brush Script MT, Brush Script Std, cursive;
    color: #555;
}

.search.active {
    color: #fff;
}

.search:hover {
    color: #fff;
    cursor: pointer;
    transition: .2s;
}

.search-input {
    display: none;
    padding: 3px 10px;
    font-size: 15pt;
    max-width: 80%;
    border-radius: 5px;
    background: #444;
    border: none;
    color: #ddd;
    animation: slideAndFade .2s forwards;
}

.search-input.active {
    display: flex;
}

.devices-container-header {
    display: flex;
    justify-content: space-between;
    animation: slideAndFade .2s forwards;
}

.devices-container-header .title{
    display: none;
    animation: slideAndFade .2s forwards;
}

.devices-container-header .title.active{
    display: flex;
}

@keyframes slideAndFade {
    from {
        opacity: 0;
        transform: translate3d(-30px, 0, 0);
    }
    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}
